<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Java Spring WEB APP demo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="display-3 text-center">Book List</h1>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Publisher</th>
        </tr>
        </thead>
        <tr th:each="book : ${books}">
            <th th:text="${book.id}"></th>
            <th th:text="${book.title}"></th>
            <th th:text="${book.publisher.publisherName}"></th>
        </tr>
    </table>
</div>

</body>
</html>